body {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 700;
    font-style: normal;
  }

.color-navy {
  color:#2C333E;
}

.color-navy-bg {
  background-color:#2C333E;
}

.color-gray-bg {
  background-color: #D9D9D9;
}

.color-pink-bg {
  background-color: #FF6666;
}