body {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 700;
    font-style: normal;
  }

.color-navy {
  color:#2C333E;
}

.color-navy-bg {
  /* background-color:#000080; */
  background-color:#2C333E;
}

.color-gray-bg {
  background-color: #D9D9D9;
}

.color-pink-bg {
  background-color: #FF6666;
  /* background-color: #ff69b4; */
}

.color-pink-text {
  color: #FF6666;
  /* color: #ff69b4; */
}

.color-navy-text {
  /* color: #2C333E; */
  color: #000080;
}